@model WebArchives.Models.Clients.VMListeClient

@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
    ViewBag.titre = "Liste des clients";
}
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/cr-1.5.2/datatables.min.css" />
@*Icons plus font*@
@Styles.Render("~/Content/fontawesome-free/css");
@*<link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">*@

@Styles.Render("~/datatable/buttons/css");
<link href="@Url.Content("~/Content/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="~/Scripts/SweetAlert/sweetalert.css" rel="stylesheet" type="text/css" />
<h2>Index</h2>
@TempData["SuccessMessage"]

@*<p>
            @Html.ActionLink("Create New", "Create")
    </p>*@
@*<a class="btn btn-success" style="margin:10px auto" onclick="@Url.Action("Create", "Clients")"><i class="fas fa-plus">Ajouter</i></a>*@
<a class="btn btn-success" style="margin:10px auto" onclick="AddClient()"><i class="fas fa-plus">Ajouter</i></a>
<table id="idTableClients" class="table table-bordered" width="100%" cellspacing="0">
    <thead>
        Modifications
        <tr role="row">
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adresse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tbl_Ville_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telephone1)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.fax)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.DatedeCreation)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.idf)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cnss)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Ice)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Gsm)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Teleph)
                </th>*@
            @*<th colspan="3">
                    Action
                </th>*@
            @*<th>
                Action
            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listeclients)
        {
            <tr role="row">
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FamilleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VilleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.telephone1)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.fax)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.DatedeCreation)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.idf)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cnss)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Ice)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Gsm)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Teleph)
                    </td>*@


                @*<td>
                    <a style="margin-left: 5px;width:40px" class="DeleteClient btn btn-danger" href="/Clients/Delete/@item.id"><i class='fas fa-trash-alt'></i></a>
                    <a style="margin-left: 5px;width:40px" class="btn btn-success" href="/Clients/Edit/@item.id"><i class='far fa-edit'></i></a>
                    <a style="margin-left: 5px;width:40px" class="btn btn-outline-dark" href="/Clients/Details/@item.id"> <i class='fas fa-info'></i></a>
                </td>*@





            </tr>
        }
    </tbody>
    @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
        @Html.ActionLink("Details", "Details", new { id=item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.id })*@



</table>
@*MODEL ADD*@
<style>
    .modal {
        text-align: center;
        width: auto
    }


    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
</style>
<div class="modal fade" id="addClientModal" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter un client</h4>
            </div>
            <div class="modal-body">
                <div id="displayArea">
                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nom, new { htmlAttributes = new { @class = "form-control",@id="idNomClient" } })
                                @Html.ValidationMessageFor(model => model.Nom, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Adresse, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Adresse, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Adresse, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Mail, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Mail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Mail, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.telephone1, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.telephone1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.telephone1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.fax, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.fax, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fax, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                @Html.LabelFor(model => model.DatedeCreation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DatedeCreation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DatedeCreation, "", new { @class = "text-danger" })
                </div>
            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tbl_Famille_Clt_Id, "Famille", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Tbl_Famille_Clt_Id, new SelectList(Model.listeFamille, "IdFamille", "Libelle"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Tbl_Famille_Clt_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tbl_Ville_id, "Ville", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.Tbl_Ville_id, new SelectList(Model.listeVilles, "IdVille", "Libelle"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Tbl_Ville_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IDContact, "Contact", new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.IDContact, new SelectList(Model.ListeContact, "IDContact", "FullName"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IDContact, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.idf, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.idf, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.idf, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Cnss, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Cnss, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Cnss, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Ice, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Ice, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Ice, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Gsm, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Gsm, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Gsm, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Teleph, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Teleph, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Teleph, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" onclick="SaveClient()" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@{
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/datatable/buttons/js");
    <script src="~/Scripts/SweetAlert/sweetalert.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/home/js");
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/cr-1.5.2/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>

    @*@Scripts.Render("~/bundles/Client/js")*@
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

}

@section scripts{
    var table = null;
    <script type="text/javascript">
    $(document).ready(function () {
    //alert("ddddd");
    //$('#idTableClients').DataTable().destroy();
    table = $('#idTableClients').DataTable({

    "columns": [

    { "title": "Nom" },
    { "title": "Adresse", "width": "40%" },
    { "title": "Famille" },
    { "title": "Ville" },
    { "title": "contact" },
    { "title": "Mail" },
    { "title": "Mail" },

    //{ "title": "DatedeCreation" },
    { "title": "GSM" }

    
    ],
   "searching" : true,
        // "scrollX": true,
    "scrollCollapse": true,
    //"autoWidth": false,
    //"colReorder": true,
    "language": {
    "info": "Afficher _END_ sur _TOTAL_ ",
    "lengthMenu": "Afficher _MENU_ par page",
    "paginate": {
    "first": "Premier",
    "last": "Dernier",
    "next": "Suivant",
    "previous": "Précédent"
    },
    //"emptyTabale": "Pas d'enregistrement trouvés",
    "emptyTable": "Chargement des donnée en cours, veuillez patienter ...",
    select: {
         style: 'multi'
    },
    }
    });

    });
    function PopupForm(url) {
        alert(url);
            var formDiv = $('<div />');
            $.get(url)
            .done(function (response) {
            formDiv.html(response);
            Popup = formDiv.dialog({
            autoOpen: true,
            height: 550,
            width: 700,
            resizable: false,
            title: 'Fiche client',
            close: function () {
                Popup.dialog('destory').remove();
                }
            });
        });
    }
    function Delete(id) {
            if (confirm("Etes-vous sur de vouloir supprimer ce client")) {
            $.ajax({
                type: "Post",
                url: "@Url.Action("Delete", "Clients")/" + id ,
                    success: function (data) {
                        if (data.success) {
                            dataTables.ajax.reload(),
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success",
                            })
                         }
                      }
                 });
            }
        }
        function AddClient() {
            debugger
            $("#addClientModal").modal();
            $("#addClientModal").show();
        }
        function SaveClient() {
            debugger
            var nom = $("#idNomClient").val();
            let dataObject = JSON.stringify({
                'Nom': nom,
            });
            var data = 1;
            $.ajax({
                type: "POST",
                dataType: 'json',
                url: './Create',
                data: dataObject,
                contentType: 'application/json; charset=utf-8',
                success: function (res) {
                    if (res > 0) {
                        // window.location.href = urls.GetFonds;
                        $("#idNomClient").val("");
                        $("#addClientModal").hide();
                        table.row.add([
                            nom,
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            ""
                           //'<a style="width:40px" class="btn btn-success"><i class="far fa-edit"></i></a><a style= "margin-left: 5px;width:40px" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a><a  style= "margin-left: 5px;width:40px" class="btn btn-outline-dark"><i class="fas fa-info"></i></a>'

                        ]).draw(false).node().id=res;
                        table.draw();
                        swal("Enregistrement effectué avec succès !", "", "success");

                    }
                },
                error: function (res) {
                    //alert(response);
                    console.log(res);
                    swal("Échec du Sauvegarde !", "", "error");
                }
            });
        }
    //SaveClient
    </script>
}